@model Dominican_Hair_Salon.Models.Venta

@{
    ViewData["Title"] = "Create";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<h1>Crear</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="ventaForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="ventasContainer">
                <!-- Contenedor para las ventas dinámicas -->
            </div>

            <div class="form-group">
                <input type="button" value="Agregar Venta" class="btn btn-secondary" onclick="addVenta()" />
            </div>

            <div class="form-group">
                <input type="submit" value="Crear Ventas" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var ventaCount = 0;

        function addVenta() {
            // Incrementar el índice de la venta
            var index = ventaCount++;

            // Crear el HTML para una nueva venta
            var ventaHtml = `<div class="venta" data-index="${index}">
                                <div class="form-group">
                                    <label asp-for="Ventas[${index}].TicketId" class="control-label"></label>
                                    <select asp-for="Ventas[${index}].TicketId" class="form-control select2" asp-items="@ViewBag.TicketId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Ventas[${index}].ServicioId" class="control-label"></label>
                                    <select asp-for="Ventas[${index}].ServicioId" class="form-control select2" asp-items="@ViewBag.ServicioId"></select>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger" onclick="removeVenta(${index})">Eliminar Venta</button>
                                </div>
                            </div>`;

            // Agregar la venta al contenedor
            $("#ventasContainer").append(ventaHtml);
            
            // Aplicar select2 al nuevo dropdown
            $('.select2').select2();
        }

        function removeVenta(index) {
            // Remover la venta del DOM
            $(`.venta[data-index=${index}]`).remove();
        }
    </script>
}
